@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
:root {
  --color-primary: #06CE7D;
  --color-secondary: #BFF3DD;
  --color-grey: rgb(193, 193, 193);
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-largest: 1.75rem;  
  --font-size-huge: 3rem;  

}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
      font-size: 50%;
  }
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
 

  min-height: 100vh;
}