.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  border-bottom: 1px solid var(--color-grey);
  
  &__hamburger {
    font-size: var(--font-size-largest);
    color: var(--color-primary);
    display: none;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: $bp-small) {
      display: block;
      z-index: 10;
    }
  }

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-primary);
  }
  &__items {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;

    & li {
      font-size: var(--font-size-largest);
      font-weight: bold;
      text-transform: uppercase;
    }

    &__btn {
      font-size: 1.75rem;
      border: 5px solid var(--color-grey);
      text-decoration: none;
      padding: 1rem 6rem;
      border-radius: 1.5rem;
      color: black;
      font-size: var(--font-size-largest);
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.25s all;

      &:hover {
        border: 5px solid var(--color-primary);
      }

      @media screen and (max-width: $bp-small) {
        display: none;
      }
    }

    .login {
      display: flex;
      align-items: center;
      gap: 1rem;
      .icon {
        color: var(--color-primary);
      }
      @media screen and (max-width: $bp-small) {
        display: none;
      }
    }
  }
}

.navbar__responsive {
  background-color: rgba(172, 255, 47, 0.678);
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  animation: responsiveNavAnimation 0.1s ease;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 4rem;
    align-items: center;

    .responsive__btn {
      text-decoration: none;
      color: #333333;

      border: 5px solid var(--color-primary);
      padding: 1rem 5rem;
      border-radius: 1rem;

      &:hover {
        background-color: var(--color-primary);
        color: white;
      }
    }
  }

  @media screen and (min-width: $bp-small) {
    display: none;
  }
}
